<?xml version='1.0' encoding='utf-8'?>
<plugin id="twinpush-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>twinpush</name>

	<preference name="APP_ID"/>
	<preference name="API_KEY"/>
	<preference name="SUBDOMAIN" default="app"/>

	<js-module name="twinpush" src="www/twinpush.js">
		<clobbers target="twinpush"/>
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="TwinPush">
				<param name="ios-package" value="TwinPush"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<header-file src="src/ios/TwinPush.h"/>
		<source-file src="src/ios/TwinPush.m"/>
		<header-file src="src/ios/AppDelegate+TwinPush.h"/>
		<source-file src="src/ios/AppDelegate+TwinPush.m"/>
		<framework src="TwinPushSDK" type="podspec" spec="2.2.0"/>

	    <config-file target="*-Debug.plist" parent="aps-environment">
      		<string>development</string>
	    </config-file>
	    <config-file target="*-Release.plist" parent="aps-environment">
	      <string>production</string>
	    </config-file>
	</platform>

	<!-- Append plugin variables as preferences in config.xml -->
	<config-file parent="/*" target="config.xml">
		<preference name="TwinPush_AppId" value="$APP_ID"/>
		<preference name="TwinPush_ApiKey" value="$API_KEY"/>
		<preference name="TwinPush_Subdomain" value="$SUBDOMAIN"/>
	</config-file>
</plugin>