<?xml version='1.0' encoding='utf-8'?>
<plugin id="twinpush-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>twinpush</name>

	<preference name="APP_ID"/>
	<preference name="API_KEY"/>
	<preference name="SUBDOMAIN" default="app"/>

	<engines>
		<engine name="cordova" version="&gt;=6.4.0"/>
		<engine name="cordova-android" version="&gt;=1.8.0"/>
		<engine name="cordova-ios" version="&gt;=4.3.1"/>
	</engines>
	<js-module name="twinpush" src="www/twinpush.js">
		<clobbers target="twinpush"/>
	</js-module>
	<!-- iOS -->
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="TwinPush">
				<param name="ios-package" value="TwinPush"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>
		<header-file src="src/ios/TwinPush.h"/>
		<source-file src="src/ios/TwinPush.m"/>
		<header-file src="src/ios/AppDelegate+TwinPush.h"/>
		<source-file src="src/ios/AppDelegate+TwinPush.m"/>
		<framework spec="~> 4.0.0" src="TwinPushSDK" type="podspec"/>
		<config-file parent="aps-environment" target="*-Debug.plist">
			<string>development</string>
		</config-file>
		<config-file parent="aps-environment" target="*-Release.plist">
			<string>production</string>
		</config-file>
	</platform>
	<!-- Android -->
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="TwinPush">
				<param name="android-package" value="com.twinpush.cordova.TwinPush"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>
		<config-file parent="/manifest/application" target="AndroidManifest.xml">
			<service
					android:name="com.twincoders.twinpush.sdk.services.NotificationIntentService"
					exported="false">
				<intent-filter>
					<action android:name="com.google.firebase.MESSAGING_EVENT" />
				</intent-filter>
			</service>
			<activity
	            android:name="com.twincoders.twinpush.sdk.activities.RichNotificationActivity"
	            android:theme="@android:style/Theme.Holo.NoActionBar">
	        </activity>
		</config-file>
		<framework src="com.github.twinpush:android-sdk:3.5.7"/>
		<source-file src="src/android/com/twinpush/cordova/TwinPush.java" target-dir="src/com/twinpush/cordova/"/>
		<framework src="google-services.gradle" custom="true" type="gradleReference" />
		<framework src="dependency-repositories.gradle" custom="true" type="gradleReference" />
	</platform>
	<!-- Append plugin variables as preferences in config.xml -->
	<config-file parent="/*" target="config.xml">
		<preference name="TwinPush_AppId" value="$APP_ID"/>
		<preference name="TwinPush_ApiKey" value="$API_KEY"/>
		<preference name="TwinPush_Subdomain" value="$SUBDOMAIN"/>
	</config-file>
</plugin>
